h1{
    text-align: center;
    
}
*{
    box-sizing: border-box;
    background-color: #d1d1e0;
    font-family: Cherry Swash;
}
.box1{
    float: left;
    width:33.33%;
    height: 200px;
    padding: 20px;
    background-color:gray;
    display: table;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    
}
.box2{
    
    position: relative;
    border-style: solid;
    text-align: right;
}
#a{
    background-color: maroon;
}
#b{
    background-color: #ff9933;
}
#c{
    background-color:#ff66ff;
}

